$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import "compass/css3/box-shadow";

/* variables */
$adjacent-color: #044d04;
$alternate-text-color: #4b4b4b;

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.main-header {
  position: fixed;
  z-index: 1100;
  top: 0;
  left: 0;
  width: 240px;
  height: 100%;
  min-height: 700px;
  float: left;
  border-right: 1px solid #c2c2c2;
  background: #E9E9E9 url('/static/imgs/b.png');

  hgroup {
    .picture a {
      display: inline-block;
      .square { 
        width: 84px;
        height: 84px;
      }
      margin: 60px 35px 20px 35px;
      border: 3px solid $adjacent-color;
      background: #000000 url('/static/imgs/pic.png');

      @include single-box-shadow;
    }

    h1 {
      font-size: 24px;
      margin: 0 35px;
      text-shadow: 0 1px 1px #f9f9f9;
    }
    h2 {
      margin: 10px 35px;
      font-size: 14px;
      font-weight: normal;
      line-height: 25px;
      color: $alternate-text-color;
    }
  }

  nav {
    margin: 65px 0;

    ul { border-top: 1px solid #d2d2d2; list-style: none; margin-left: 0; }
    li { margin-bottom: 0; }
    a, a:hover { border-bottom: 1px solid #d2d2d2; }
    a {
      position: relative;
      padding: 15px 30px;
      color: $text-color;
      display: block;
      font-weight: 500;
      text-shadow: 0 1px 1px #f9f9f9;
    }
    a:hover {
      color: #fff;
      background: $adjacent-color;
      border-right: 0;
      text-shadow: none;
    }
    .sel a { border-right: 6px solid $adjacent-color;  }
  }

  .spinner {
    position: absolute !important;
    right: 30px;
    top: 23px;
  }

  .fork-me {
    position: absolute;
    left: 30px;
    bottom: 20px;
    font-size: 13px;
    color: $alternate-text-color;
    border-bottom: none;
  }
  .fork-me:hover {
    color: $adjacent-color;
  }
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
