<header class="main-header">
  <hgroup>
    <div class="picture">
      <a ng-href="#"></a>
    </div>
    <h1>Christopher Gagne</h1>
    <h2>Hands-On Software Development Manager</h2>
  </hgroup>
  <nav>
    <ul class="main-nav">
      <li class="active"><a ng-href="#">Home</a></li>
      <li><a ng-href="#/github">Github</a></li>
      <li><a ng-href="#/twitter">Twitter</a></li>
      <li><a ng-href="#/linkedIn">Linked In</a></li>
      <li><a ng-href="#">Aboutsssss</a></li>
      <li><a href="mailto:gagnechris@me.com?subject=">Contact</a></li>
    </ul>
  </nav>
</header>

<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#/github">Github</a></li>
    <li><a ng-href="#/twitter">Twitter</a></li>
    <li><a ng-href="#/linkedIn">Linked In</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">Chris Gagne</h3>
</div>

<div class="jumbotron">
  <div ui-view="blogView" class="row marketing"></div>
  <div ui-view="githubView" class="row marketing"></div>
  <div ui-view="twitterView" class="row marketing"></div>
  <div ui-view="linkedInView" class="row marketing"></div>
</div>
