<header class="main-header">
  <hgroup>
    <div class="picture">
      <a ng-href="#"></a>
    </div>
    <h1>Christopher Gagne</h1>
    <h2>Hands-On Software Development Manager</h2>
  </hgroup>
  <nav>
    <ul class="main-nav">
      <li class="active"><a ng-href="#">Home</a></li>
      <li><a ng-href="#/github">Github</a></li>
      <li><a ng-href="#/twitter">Twitter</a></li>
      <li><a ng-href="#/linkedIn">Linked In</a></li>
      <li><a ng-href="#">About</a></li>
      <li><a href="mailto:gagnechris@me.com?subject=">Contact</a></li>
    </ul>
  </nav>
</header>

<div class="mobile-nav">
  <span class="nav-btn" id="mobile-nav-btn">
    <span class="nav-btn-bar"></span>
    <span class="nav-btn-bar"></span>
    <span class="nav-btn-bar"></span>
  </span>
  <h3><a href="/">gagnechris.com</a></h3>
</div>

<section id="blog-posts" class="main-section blog-section" ng-controller="BlogController">
  <article id="{{post.ID}}" ng-repeat="post in blog.posts">
    <hgroup>
      <h2>
        <a href="/post/{{post.ID}}">{{post.title}}</a>
      </h2>
      <h3>
        <a href="#{{post.ID}}" class="adjusted" style="margin-top: -140px;">{{post.modified | date : 'EEEE, MMMM d, y'}}</a>
      </h3>
    </hgroup>
    <div ng-bind-html="post.content"></div>
  </article>
</section>

<article id="menu-item-modal">
  <div id="searchResultDetailModal" class="minHeight600" style="">
    <div class="simplemodal-container" style=""></div>
  </div>
</article>